body {
    margin: 10px;
    background-color: #BDD180;
    color: black;
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    color:black;
    background-color: #FFFFFF;
    width: 8em;
    margin: 8px;
    padding: 8px;
}

h2.indent{
    text-indent: 15px;
}

#final {
    background-color: #cd395b;
    color: #FFFFFF;
    width: 8em;
}

ul {
    color: white;
}

a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color:#cd395b;
}

a:hover {
    color:#1c1c1c;
    background-color: #ebf952;
}